---

type Props = {
  link: {
    id: number;
    title: string;
    url: string;
    description: string;
    isRead: boolean;
  };
};

const { link } = Astro.props;
---
<article>
<div>
  {link.isRead ? <p>Read</p> : <p>Unread</p>}
  <p>ID: {link.id}</p>
  <h2>{link.title}</h2>
  <p>{link.description}</p>
  <a href={link.url}>Link</a>
</div>
</article>

